


body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;

}
span{
    color:#c23f0b;

}
section{
    display:flex;
}
.one{
    width:50%;
    padding:0 0 0 90px ;
}
.two img{
    width:80%;
}
.link_button{
    text-decoration: none;
    background-image:linear-gradient(orange, #f0482a);
    color:#fff;
    font-weight:700;
    padding:10px 40px;
    margin:50px 0 0 0;
    border-radius: 5px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
section{
    display: flex;
    margin-bottom:100px ;
}

.width1 img{
    width:60%;
    border-radius:50%;
    
    margin: 10%;

}
.width2{
    width:90%;
    padding-right: 20%;

}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

    
}