


body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
h1{
    font-size:50px;

}
h2{
    font-size: 40px;
}
.orange-color{
    color:#c23f0b;

}
.flexible-container{
    display:flex;
}
.one{
    width:50%;
    padding:0 0 0 90px ;
}
.two img{
    width:80%;
}
.link_button{
    text-decoration: none;
    background-image:linear-gradient(orange, #f0482a);
    color:#fff;
    font-weight:700;
    padding:10px 40px;
    margin:50px 0 0 0;
    border-radius: 5px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.flexible-container{
    display: flex;
    margin-bottom:100px ;
}

.width1 img{
    width:60%;
    border-radius:50%;
    
    margin: 10%;

}
.width2{
    width:90%;
    padding-right: 20%;

}
.dream_big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

    
}
.experience-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

} 
.Experience-item{
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    

}
#Full-Stack-Developer{
    border-left:7px solid tomato ;
}
#baby-Developer{
    border-left: 7px solid blue;
}
footer p{
    font-family: cursive;
    font-weight: 400;   
    text-align: center;
}